.calculos {
    background-color: rgb(33, 69, 136);
    color: rgb(219, 169, 95);
    font-size: 20px;
    margin: 5px;
    border: 2px outset rgb(0, 0, 0);
    padding: 15px 40px;
    text-align: center;
    font-weight: 700;
  }
  h1 {
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .centrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }